/* Header */
html {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  background: #122430;
  width: 100%;
  height: 100%;
  display: box;
  color: -internal-root-color;
}
.header {
  display: flex;
  text-align: center;
  width: 100%;
  flex-direction: row;
  font-size: 16px;
  color: white;
}

.page {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  /* padding-top: 2%; */
  font-size: 18px;
  color: #dca933;
  justify-content: center;
}

.markets {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}

.marketss {
  display: block;
  justify-content: space-evenly;
  flex-grow: 1;
}
/* Result */
.one {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}
.gg{
  margin-top: 9px;
width: 7%;
text-align: center;
color: #dca933;

}
.out {
  display: flex;
  width: 100%;
  /* height: 50%; */
  background: #166611;
  /* margin-bottom: 0.3%; */
}
.live {
  color: white;
  font-weight: bold;
  height: 60px;
  font-size: 25px;
  display: box;
  margin-bottom: 5px;
  display: flex;
}
.hide{
  visibility: hidden;
}
/* h3 {
  font-size: 13px;
  padding-right: 70%;
  width: 30%;
  margin-bottom: -13%;
} */

.g{
  text-align: center;
  width: 10%;
  height: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 25px;
  color: #dca933 ;
  margin-left: 1%;
  font-size: 25px;

}
.hm{
  text-align: center;
  width: 35%;
  padding-left: 1.6%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  background-color: #1f571a;
}
.redc {
  text-align: center;
  font-size: 27px;
  background-color: #1f571a;
  width: 10%;
  color: #dca933;
  padding-left: 10%;
}
.aw {
  text-align: center;
  width: 35%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  padding-left: 10%;
  background-color: #1f571a;
}
.tour {
  width: 100%;
  font-size: 15px;
  background-color: #1f571a;
}
.tm-cd {
  display: grid;
  background: linear-gradient(#52944d,#11500d);
  border-left-color: #4d8c48;
  border-top-color: #5ba755;
  border-right-color: #0e400a;
  border-bottom-color: #0e400a;
  font-size: 16px;
}
.names {
  text-align: center;
  /* width: 100%; */
  /* height: 100%; */
  flex-grow: 1;
  display: flex;
  font-size: 18px;

  background-color: #1f571a;
}
.row {
  text-align: center;
  width: 99%;
  height: 1%;
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
.column {
  text-align: center;
  width: 100%;
  height: 1%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.column1 {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.tm-cd .tm {
  display: flex;
  justify-content: flex-start;
  color: #ff5615;
}

h4{
  color:#dca933;
  padding-left: 80%;
}
.p1g{
  text-align: center;
  width: 10%;
  height: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 25px;
  color: #dca933 ;
  margin-left: 1%;

}
.number{
  display: flex;
  flex-direction: column;


  background: linear-gradient(#52944d,#11500d);
  border-left-color: #4d8c48;
  border-top-color: #5ba755;
  border-right-color: #0e400a;
  border-bottom-color: #0e400a;


}
.empty{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 10%;
  height: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  background: linear-gradient(#52944d,#11500d);
  border-left-color: #4d8c48;
  border-top-color: #5ba755;
  border-right-color: #0e400a;
  border-bottom-color: #0e400a;
  margin-left: 1%;
  font-size: 25px;
}


